---
import "@splidejs/splide/css";
const basePath = import.meta.env.BASE_URL;
---

<div id="splide" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <slot/>
    </ul>
  </div>
</div>

<script>
  import Splide from "@splidejs/splide";

  // Initialize Splide
  document.addEventListener("DOMContentLoaded", () => {
    const splide = new Splide("#splide", {
      autoplay: false, // Enable auto-play
      /*interval: 7000, // 3 seconds between slides*/
      perPage: 1, // Show 1 slide at a time
      pagination: true, // Show pagination dots
      arrows: true,
      drag: true,
    }).mount();

    const updateDrag = () => {
    const limitForEnableDragAndArrows = 1200;
    const shouldEnableDragAndArrows = window.innerWidth < limitForEnableDragAndArrows;
    splide.options = {
      drag: shouldEnableDragAndArrows,
      arrows: shouldEnableDragAndArrows
      }; // Enable or disable drag dynamically
    };

  // Run on load
  updateDrag();

  // Listen for window resize
  window.addEventListener('resize', updateDrag);
  });


</script>

<style>
  

  ul.splide__list {
    padding-left: 0px;
    list-style: none;
  }

  li.splide__slide {
    min-height: 400px;
  }

  .splide__arrow--prev {
    border-radius: 0% 50% 50% 50%;
  }
  
  :global(.splide__arrow--next) {
    right: 0px !important;
    border-radius: 50% 0% 0px 50%;
  }

  :global(.splide__arrow--prev) {
    left: 0px; /* Adjust position for left arrow */
  }

  .item {
    margin: 0px 10px;
    font-family: var(--ff-base);
    font-weight: 500;
  }

  .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--ff-base);
  }

@media screen and (width >= 1200px) {
  .splide__arrow {
    display: none;
  }
  
  ul.splide__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (width >= 1250px) {
  ul.splide__list {
    gap: 30px;
  }
}

</style>
