---
import ItemCard from "./ItemCard.astro";
import "@splidejs/splide/css";
const basePath = import.meta.env.BASE_URL;
---

<div id="splide" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="content">
          <h2>4 Personas</h2>
        </div>
        <div class="information">
          <div class="wrapper">
            <ul>
              <ItemCard
                class="people"
                imagePath={basePath + "icons/person-svgrepo-com.svg"}
                description="4 Personas"
              />
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<script>
  import Splide from "@splidejs/splide";

  // Initialize Splide
  document.addEventListener("DOMContentLoaded", () => {
    new Splide("#splide", {
      type: "loop", // Loop through slides
      autoplay: false, // Enable auto-play
      interval: 7000, // 3 seconds between slides
      perPage: 1, // Show 1 slide at a time
      pagination: true, // Show pagination dots
      arrows: true, // Show navigation arrows
      spaceBetween: 30,
    }).mount();
  });
</script>

<style>
  .content {
    height: 70%;
    background: #8080802e;
    margin: 0px 10px;
    display: flex;
    border-radius: 12%;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-base);
  }

  ul {
    padding-left: 0px;
    list-style: none;
  }

  li.splide__slide {
    min-height: 400px;
  }

  .item {
    margin: 0px 10px;
    font-family: var(--ff-base);
    font-weight: 500;
  }

  .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--ff-base);
  }

</style>
