---
import '@styles/global.css'
import Navigation from './Navigation.astro'
const { companyName } = Astro.props
const basePath = import.meta.env.BASE_URL;
---

<section class="menu--wrapper">
<input type="checkbox" id="menu-mobile--input">
<label id="hamburguer" for="menu-mobile--input">
    <hr></hr>
    <hr></hr>
    <hr></hr>
</label>

<div class="close-menu--wrapper"></div>
<div id="menu-mobile--wrapper">
    <span class="company-name"><a href=`${basePath}`>{companyName}</a></span>
    <Navigation isMobile="true"></Navigation>
</div>
</section>

<script>
  import {$, $$} from "src/utils/selectors.js"

  const menuStatus = $("#menu-mobile--input");
  const closeMenuArea = $(".close-menu--wrapper");
  
  closeMenuArea.addEventListener("click", (event) => {
    if (menuStatus.checked) {
      menuStatus.checked = false;
    }

  })
</script>


<style>
/* nav styles */

.hamburguer .line {
  display: block;
  align-content: center;
  width: 40px;
  height: 3px;
  background-color: white;
}

.hamburguer-wrapper {
  cursor: pointer;
}

.close-menu--wrapper {
  width: 100%;
  position: fixed;
  height: 100%;
  right: 0px;
  top: 5.3rem;
  -webkit-transition: background .5s ease-out;
  -moz-transition: background .5s ease-out;
  -o-transition: background .5s ease-out;
  transition: background .5s ease-out;
}

#menu-mobile--wrapper {
    background: var(--system-primary-backgroundColor-1);
    width: 65%;
    height: 100%;
    position: fixed;
    left: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(-50rem);
    top: 0;
    z-index: 999;
    transition: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 14px;
}

#menu-mobile--wrapper li {
    color: white
}
#menu-mobile--input {
    display: none;
}

#menu-mobile--input:checked ~ #menu-mobile--wrapper {
    transform: translateX(0rem);
}

#menu-mobile--input:checked ~ .close-menu--wrapper {
  background: #0000008c;
  z-index: 998;
  
}

.company-name {
  font-family: var(--ff-base);
  font-weight: 800;
  font-size: 2rem;
}
.company-name a {
  text-decoration: none;
  color: white;
}


#hamburguer {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px
}

#hamburguer > hr {
    margin: 0px;
    width: 30px;
    height: 2px;
    border: none;
    background: var(--system-primary-backgroundColor-1);
    transition: 0.5s;
    z-index: 999;
}

#menu-mobile--input:checked ~ #hamburguer > hr {
  background-color: var(--system-primary-backgroundColor-1);
}

#menu-mobile--input:checked ~ #hamburguer > hr:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}
#menu-mobile--input:checked ~ #hamburguer > hr:nth-child(2) {
    opacity: 0;
}
#menu-mobile--input:checked ~ #hamburguer > hr:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
}




@media screen and (width >= 720px) {
  .hamburguer {
    display: none;
  }
  .menu--wrapper {
    display: none;
  }
}



</style>