---
const { isDesktop, isMobile } = Astro.props
---

<nav class="nav-bar" class:list={{"desktop": isDesktop, "mobile": isMobile}}>
    <div class="menu--wrapper">
      <ul class="menu--list">
        <li class="menu--item">
          <a href="/SaleOfPlans/planes" class="quicksand-800" >Planes</a>
        </li>
        <li class="menu--item">
          <a href="SaleOfPlans/contacto" class="quicksand-800">Contactanos</a>
        </li>
        <li class="menu--item">
          <a href="SaleOfPlans/blog" class="quicksand-800">Blog</a>
        </li>
        <li class="menu--item">
          <a href="SaleOfPlans/nosotros" class="quicksand-800">Nosotros</a>
        </li>
      </ul>
    </div>
  </nav>


<style>
  nav {
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;

  }
  
  .desktop {
    display: none;
  }
 
  .mobile {
    display: flex;
    min-height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
  }
  
  .menu--list {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      padding-left: 0px;
      gap: 1rem;
      width: 100%;
  }

  .menu--item a {
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
  }



@media screen and (width >= 720px) {
    nav {
      justify-content: flex-end;
      flex-direction: row;
    }

    .desktop {
      display: flex;
    }
 
    .mobile {
      display: none;
    }

    .menu--wrapper {
      width: 100%;
      display: inline-block;
    }

    .menu--list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    .menu--item {
      transition: ease 0.3s;
    }
    
    .menu--item:hover {
      transform: scale(1.1);
    }
}

@media screen and (width >= 1150px) {
  .menu--list {
      justify-content: flex-end;
    }


}

</style>